<h2>Team Leadboard</h2>
<table id="teams-leaderboard">
  <thead>
    <tr>
      <th>MEMBERS</th>
      <th class="align-right">WIN TOTAL</th>
      <th class="align-right">LOSS TOTAL</th>
      <th class="align-right">WIN PERCENTAGE</th>
    </tr>
  </thead>
  <% teamLeaderboard.sort((a, b) => b.winPercentage - a.winPercentage) %>
  <% teamLeaderboard.forEach(team => { %>
  <tr>
    <td class="table-name"><%= team.playerOne %>, <%= team.playerTwo  %> </td>
    <td><%= team.wins %></td>
    <td><%= team.losses %></td>
    <td><%= Math.floor(team.winPercentage * 100) %> %</td>
  </tr>
  <% }) %>
</table>
