<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head.ejs %>

  <body>
    <!-- <%- include('../partials/main-nav.ejs') %> -->
    <%- include('../partials/dashboard-nav.ejs') %>
    <main>
      <section class="dash-nav">
        <form class="dashboard-form">
          <label for="team-radio"
          >TEAMS <img src="./img/users.svg" class="desktop"
          /></label>
          <input type="radio" name="dashboard-state" id="team-radio" checked />
          <section class="dashboard-wrapper">
            <%- include('../partials/teams.ejs', {teamLeaderboard}) %>
          </section>
          <label for="member-radio"
          >MEMBERS <img src="./img/user.svg" class="desktop"
          /></label>
          <input type="radio" name="dashboard-state" id="member-radio" />
          <section class="dashboard-wrapper">
            <%- include('../partials/membersLeaderboard.ejs', {memberLeaderboard})
            %>
          </section>
          <label for="settings-radio"
          >SETTINGS<img src="./img/settings.svg" class="desktop"
          /></label>

          <input type="radio" name="dashboard-state" id="settings-radio" />
          <section class="dashboard-wrapper">
            <%- include('../partials/settings.ejs') %>
          </section>
        </section>
      </form>
    </main>
    <% include ../partials/footer %>
    <script src="js/script.js"></script>
  </body>
</html>
